Django==5.2.15
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
drf-spectacular==0.29.0
python-decouple==3.8
oracledb==2.5.0
xgboost==3.2.0
pandas==3.0.3
scikit-learn==1.9.0
joblib==1.5.3
numpy==2.4.6
scipy==1.17.1
Pillow==12.2.0
cryptography==49.0.0
PyJWT==2.13.0
asgiref==3.11.1
sqlparse==0.5.5
inflection==0.5.1
uritemplate==4.2.0
